body {
  font-family: sans-serif;
}
h1 {
  color: rgb(179, 94, 17);
  text-align: center;
}
h3 {
  text-align: center;
}
li {
  list-style-type: none;
}
ul {
  text-align: center;
}
.info {
  text-align: center;
}
.brand {
  text-align: center;
}
