body {
  font-family: sans-serif;
  background-color: #f7f7f7;
}
h1 {
  /* color: rgb(179, 94, 17); */
  text-align: center;
}
h3 {
  text-align: center;
}
li {
  list-style-type: none;
}
ul {
  text-align: center;
}
.info {
  text-align: center;
}
#resume {
  text-align: center;
}
img {
  border-radius: 50%;
}
#img {
  text-align: center;
}
.card {
  background-color: #fce0cd;
}
